@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Mystery Quest', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    margin: 0px;
    background-color:wheat;

}

h1 {
    color:black;
}


.screen {
    cursor: pointer;
    width: 60%;
    background-color: black !important;
}

.controls {
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 15px;

}

.btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.btn:focus {
    outline: 0;
}

.fa-play {
    color:black;
}

.fa-stop{
    color:red;
}

.fa-pause {
    color: white;
}

span.timestamp {
    color: white;
    font-weight: bold;
    margin-left: 10px;
}

@media(max-width: 800px){
    .screen, .controls {
        width: 90%;
    }
}

button.home {
    cursor: pointer;
    background-color: wheat;
    border: 2px solid;
    color: red;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
}